
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    // ここで管理者のメールアドレスを指定します
    function isAdmin() {
      return isSignedIn() 
        && request.auth.token.email_verified == true 
        && request.auth.token.email in ["YOUR_EMAIL@gmail.com"];
    }

    match /clients/{clientId} {
      allow read, write: if isAdmin();
    }

    match /tasks/{taskId} {
      allow read, write: if isAdmin();
    }

    match /client_task_views/{identifier} {
      allow read: if true;
      
      match /tasks/{taskId} {
        allow read: if true;
        allow write: if isAdmin();
      }
    }
  }
}
