@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 33% 98%;
    --foreground: 220 11% 21%;
    --card: 0 0% 100%;
    --card-foreground: 220 11% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 11% 21%;
    --primary: 141 59% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 90%;
    --secondary-foreground: 220 11% 21%;
    --muted: 220 10% 94%;
    --muted-foreground: 220 5% 45%;
    --accent: 141 59% 43%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 141 59% 43%;
    --chart-1: 141 59% 43%;
    --chart-2: 220 11% 21%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 220 11% 21%;
    --sidebar-foreground: 220 10% 90%;
    --sidebar-primary: 141 59% 43%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 11% 30%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 11% 25%;
    --sidebar-ring: 141 59% 43%;
  }
  .dark {
    --background: 220 11% 21%;
    --foreground: 0 0% 98%;
    --card: 220 11% 21%;
    --card-foreground: 0 0% 98%;
    --popover: 220 11% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 141 59% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 11% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 11% 30%;
    --muted-foreground: 220 5% 65%;
    --accent: 141 59% 43%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 11% 30%;
    --input: 220 11% 30%;
    --ring: 141 59% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}